apiVersion: apps/v1
kind: Deployment
metadata:
  name: account-service
  namespace: tax-modernization
spec:
  replicas: 1
  selector:
    matchLabels:
      app: account-service
  template:
    metadata:
      labels:
        app: account-service
    spec:
      containers:
        - name: account-service
          image: account-service:local
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8082
---
apiVersion: v1
kind: Service
metadata:
  name: account-service
  namespace: tax-modernization
spec:
  selector:
    app: account-service
  ports:
    - port: 8082
      targetPort: 8082
  type: ClusterIP
