jobs:
  build-deploy:
    runs-on:
      - self-hosted
      - macOS
      - X64

    env:
      HOME: /Users/flyboytroy
      REGISTRY: ghcr.io
      IMAGE_OWNER: devbyasobie
      IMAGE_NAME: account-service

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build with Maven
        working-directory: services/account-service
        run: mvn -B clean package -DskipTests

      - name: Build Docker image
        working-directory: services/account-service
        run: |
          docker build -t ${{ env.REGISTRY }}/${{ env.IMAGE_OWNER }}/${{ env.IMAGE_NAME }}:${{ github.sha }} .

      - name: Log in to GHCR
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ${{ env.REGISTRY }} -u $GITHUB_ACTOR --password-stdin

      - name: Push image
        run: |
          docker push ${{ env.REGISTRY }}/${{ env.IMAGE_OWNER }}/${{ env.IMAGE_NAME }}:${{ github.sha }}

      # now that we're on your Mac, we can copy your real kube/minikube
      - name: Copy kube + minikube
        run: |
          mkdir -p $HOME/.kube
          cp /Users/flyboytroy/.kube/config $HOME/.kube/config
          mkdir -p $HOME/.minikube
          cp -R /Users/flyboytroy/.minikube/* $HOME/.minikube/

      - name: Deploy to Kubernetes (local minikube)
        run: |
          kubectl get ns tax-modernization || kubectl create ns tax-modernization

          sed "s|IMAGE_PLACEHOLDER|${{ env.REGISTRY }}/${{ env.IMAGE_OWNER }}/${{ env.IMAGE_NAME }}:${{ github.sha }}|g" infra/k8s/account-deployment.yaml \
            | kubectl apply -f -

          kubectl apply -f infra/k8s/account-deployment.yaml

          kubectl rollout status deploy/account-service -n tax-modernization
